<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199120866837-9v7u91mc3jpum5s4dg757q5imsrio1gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199120866837-9v7u91mc3jpum5s4dg757q5imsrio1gv</string>
	<key>API_KEY</key>
	<string>AIzaSyDR1K5DqMoh-SBcpAbnGnJQ0RlyX93oYwc</string>
	<key>GCM_SENDER_ID</key>
	<string>199120866837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ftest</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-729e7</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-729e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199120866837:ios:ca9a9c7f01ae9715e4481c</string>
</dict>
</plist>